.home-page {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  .audios {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .control-panel {
    color: black;
    z-index: 2;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: white 1px solid;
    height: 80px;
    width: 70%;
    min-width: 390px;
    background-color: rgb(150, 109, 160);

    .move-time-btn:hover {
      background-color: rgb(233, 171, 171);
      cursor: pointer;
    }

    .cursor {
      // min-width: 15%;
      // margin-right: 20px;
      // margin-left: 15px;
      margin: 0 60px 0 15px;
      font-size: 1.1rem;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .range-section {
      display: flex;
      flex-direction: column;
      width: 90%;
      margin-right: 15px;
      align-items: center;

      .top-range {
        -webkit-appearance: none;
        height: 1px;
        border-radius: 5px;
        background-repeat: no-repeat;

        min-width: 100%;
      }

      .top-range::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 384px;
        margin-top: 384px;
        width: 1px;
        border-radius: 50%;
        background: #252525;

        cursor: pointer;
      }
      .time-line {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .audio-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .control-btns {
    align-self: center;
    margin-top: 20px;
    width: 50%;
    min-width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .control-btn {
      margin-top: 20px;
      color: #ffffff;
      display: flex;
      font-family: Phantomsans, sans-serif;
      font-size: 20px;
      // max-width: 100%;
      min-width: 180px;
      padding: 3px;
      white-space: nowrap;
      cursor: pointer;
    }

    .control-btn:hover {
      outline: 0;
      color: black;
    }

    .control-btn span {
      background-color: rgb(5, 6, 45);
      padding: 16px 24px;
      border-radius: 6px;
      width: 100%;
      height: 100%;
      transition: 0.3s;
    }

    .control-btn:hover span {
      background: none;
    }
  }

  .music1 {
    position: fixed;
    height: 300px;
    width: 300px;
    z-index: -1;
    bottom: -3%;
    right: 3%;
  }
  .music2 {
    position: fixed;
    height: 300px;
    width: 300px;
    z-index: -1;
    bottom: -1%;
  }
  .music3 {
    position: fixed;
    height: 200px;
    width: 200px;
    z-index: -1;
  }
}
@media (max-width: 1200px) {
  .control-btns {
    flex-direction: column;
    gap: 10px;
    width: 350px;
  }
  // .range-section {
  //   max-width: 75%;
  // }
}
@media (max-width: 890px) {
  // .range-section {
  //   max-width: 60%;
  // }
  .num-to-display {
    font-size: 10px;
  }
  .move-time-btn {
    font-size: 10px;
  }
  .music1 {
    display: none;
  }
  .music2 {
    display: none;
  }
  .music3 {
    display: none;
  }
}
